@charset "UTF-8";

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
ul {
    list-style-type: disc;
}
ol {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}